RewriteEngine On

# Jangan redirect kalau file/folder memang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request masuk ke index.php
RewriteRule ^.*$ index.php [L]
